.weather-card{
    background-color: blueviolet;
    width:40%;
    height:80%;
    display: flex;
    align-items:center;
    flex-direction: column;
    
    

}

.search-bar{
    display: flex;
    background-color: burlywood;
    margin-top: 20px;
    margin-bottom: 50px;    ;
    width: 500px;
    color:black;
    
}

.row{
    display: flex;
}

input{
    height:30px;
    flex:2;
}

.search-btn{
    flex:1;
    display: flex;
    align-items: center; /*centrer verticalement*/
    justify-content: center; /*centrer horizentalement*/
}    
.city{
    font-size: 30px;
    font-weight:600
    
    ;
}
.weather-info{
    display: flex;
    flex-direction: column;
    width: 100%;
    height:20%;
    align-items: center;
    justify-content: center;
    }

.row{
    display: flex;
    height: 100%;
    width: 100%;
}
.info-title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex:1;
}

.row{
    display: flex;
    height: 100%;
    width: 100%;
}



.info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    font-size: 30px;
    font-weight:600





}


